Repository hmcts/et-ccd-callbacks, pull requests merged in 2022-12, with the labels that each got.

#561 RET-2840: Add Serving Notification values
  build.gradle
  charts/et-cos/Chart.yaml
  charts/et-cos/values.preview.template.yaml
  charts/et-cos/values.yaml
  src/test/end-to-end/helpers/etCaseHepler.js
  src/test/end-to-end/pages/IDAM/signIn.js
  src/test/end-to-end/pages/et1Serving/processEt1Serving.js
  src/test/end-to-end/paths/verifyECMCase.js
Labels: ns:et, prd:et, rel:et-cos-pr-561

#539 RET-2730: Add Unassigned to managingOffice
  src/main/java/uk/gov/hmcts/ethos/replacement/docmosis/service/TribunalOfficesService.java
  src/test/java/uk/gov/hmcts/ethos/replacement/docmosis/service/TribunalOfficeServiceTest.java
Labels: ns:et, prd:et, rel:et-cos-pr-539

#564 RET-2840: add template for respondents(ET1 serving)
  charts/et-cos/values.preview.template.yaml
  charts/et-cos/values.yaml
  src/main/java/uk/gov/hmcts/ethos/replacement/docmosis/service/ServingService.java
  src/main/resources/application-cftlib.properties
  src/main/resources/application-dev.properties
  src/main/resources/application.properties
  src/test/integration/resources/application.properties
Labels: ns:et, prd:et, rel:et-cos-pr-564

#570 Cv es fix branch
  config/owasp/suppressions.xml
  package.json
  src/main/java/uk/gov/hmcts/ethos/replacement/docmosis/helpers/ReferralHelper.java
  src/test/java/uk/gov/hmcts/ethos/replacement/docmosis/helpers/ReferralHelperTest.java
Labels: ns:et, prd:et, rel:et-cos-pr-570

#575 Update et data model
  build.gradle
Labels: ns:et, prd:et, rel:et-cos-pr-575

#580 Exui onboarding
  build.gradle
  charts/et-cos/values.preview.template.yaml
  charts/et-cos/values.yaml
  config/owasp/suppressions.xml
  src/main/java/uk/gov/hmcts/ethos/replacement/docmosis/config/JacksonConfiguration.java
  src/main/java/uk/gov/hmcts/ethos/replacement/docmosis/config/OAuth2Configuration.java
  src/main/java/uk/gov/hmcts/ethos/replacement/docmosis/config/ServiceTokenGeneratorConfiguration.java
  src/main/java/uk/gov/hmcts/ethos/replacement/docmosis/controllers/CaseActionsForCaseWorkerController.java
  src/main/java/uk/gov/hmcts/ethos/replacement/docmosis/controllers/NoticeOfChangeController.java
  src/main/java/uk/gov/hmcts/ethos/replacement/docmosis/domain/SolicitorRole.java
  src/main/java/uk/gov/hmcts/ethos/replacement/docmosis/domain/TokenRequest.java
  src/main/java/uk/gov/hmcts/ethos/replacement/docmosis/domain/TokenResponse.java
  src/main/java/uk/gov/hmcts/ethos/replacement/docmosis/helpers/CaseConverter.java
  src/main/java/uk/gov/hmcts/ethos/replacement/docmosis/helpers/NocNotificationHelper.java
  src/main/java/uk/gov/hmcts/ethos/replacement/docmosis/helpers/NoticeOfChangeAnswersConverter.java
  src/main/java/uk/gov/hmcts/ethos/replacement/docmosis/helpers/NoticeOfChangeFieldPopulator.java
  src/main/java/uk/gov/hmcts/ethos/replacement/docmosis/helpers/NotificationHelper.java
  src/main/java/uk/gov/hmcts/ethos/replacement/docmosis/helpers/RespondentPolicyConverter.java
  src/main/java/uk/gov/hmcts/ethos/replacement/docmosis/idam/IdamApi.java
  src/main/java/uk/gov/hmcts/ethos/replacement/docmosis/service/AuditEventService.java
  src/main/java/uk/gov/hmcts/ethos/replacement/docmosis/service/CcdCaseAssignment.java
  src/main/java/uk/gov/hmcts/ethos/replacement/docmosis/service/EventValidationService.java
  src/main/java/uk/gov/hmcts/ethos/replacement/docmosis/service/NocNotificationService.java
  src/main/java/uk/gov/hmcts/ethos/replacement/docmosis/service/RespondentRepresentativeService.java
  src/main/java/uk/gov/hmcts/ethos/replacement/docmosis/service/UserService.java
  src/main/resources/application-dev.properties
  src/main/resources/application.properties
  src/test/integration/resources/application.properties
  src/test/java/uk/gov/hmcts/ethos/replacement/docmosis/controllers/CaseActionsForCaseWorkerControllerTest.java
  src/test/java/uk/gov/hmcts/ethos/replacement/docmosis/controllers/NoticeOfChangeControllerTest.java
  src/test/java/uk/gov/hmcts/ethos/replacement/docmosis/domain/SolicitorRoleTest.java
  src/test/java/uk/gov/hmcts/ethos/replacement/docmosis/helpers/CaseConverterTest.java
  src/test/java/uk/gov/hmcts/ethos/replacement/docmosis/helpers/HelperTest.java
  src/test/java/uk/gov/hmcts/ethos/replacement/docmosis/helpers/NocNotificationHelperTest.java
  src/test/java/uk/gov/hmcts/ethos/replacement/docmosis/helpers/NoticeOfChangeAnswersConverterTest.java
  src/test/java/uk/gov/hmcts/ethos/replacement/docmosis/helpers/NoticeOfChangeFieldPopulatorTest.java
  src/test/java/uk/gov/hmcts/ethos/replacement/docmosis/helpers/RespondentPolicyConverterTest.java
  src/test/java/uk/gov/hmcts/ethos/replacement/docmosis/service/AuditEventServiceTest.java
  src/test/java/uk/gov/hmcts/ethos/replacement/docmosis/service/CcdCaseAssignmentTest.java
  src/test/java/uk/gov/hmcts/ethos/replacement/docmosis/service/NocNotificationServiceTest.java
  src/test/java/uk/gov/hmcts/ethos/replacement/docmosis/service/RespondentRepresentativeServiceTest.java
  src/test/java/uk/gov/hmcts/ethos/replacement/docmosis/service/TornadoServiceTest.java
  src/test/java/uk/gov/hmcts/ethos/replacement/docmosis/service/UserServiceTest.java
  src/test/java/uk/gov/hmcts/ethos/replacement/docmosis/utils/CaseDataBuilder.java
Labels: ns:et, prd:et, rel:et-cos-pr-580

#583 Updated charts version
  charts/et-cos/Chart.yaml
Labels: ns:et, prd:et, rel:et-cos-pr-583

#584 Updated terraform with new secrets
  infrastructure/main.tf
Labels: ns:et, prd:et, rel:et-cos-pr-584

#585 Relocating secrets from et-cos to et
  charts/et-cos/values.preview.template.yaml
  charts/et-cos/values.yaml
  infrastructure/main.tf
Labels: ns:et, prd:et, rel:et-cos-pr-585

#587 Changes reverted mistakenly re-reverted
  src/main/java/uk/gov/hmcts/ethos/replacement/docmosis/helpers/ReferralHelper.java
  src/test/java/uk/gov/hmcts/ethos/replacement/docmosis/helpers/ReferralHelperTest.java
Labels: ns:et, prd:et, rel:et-cos-pr-587

#588 Hot fixes demo
  src/main/java/uk/gov/hmcts/ethos/replacement/docmosis/helpers/ReferralHelper.java
Labels: ns:et, prd:et, rel:et-cos-pr-588

#593 Added properties for idam oauth request
  charts/et-cos/values.preview.template.yaml
  charts/et-cos/values.yaml
  config/owasp/suppressions.xml
  src/main/resources/application.properties
Labels: ns:et, prd:et, rel:et-cos-pr-593
